.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  display: flex;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.pagination__item:hover,
.pagination__item:focus {
  opacity: .5;
}

.pagination__item.current {
  font-weight: bold;
}