.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelCheckbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input {
  font-size: inherit;
  padding: 0 10px 10px 0;
  border: none;
  border-bottom: 2px solid #5a4d23;
  color: inherit;
}

.input.error {
  border-color: #b21313;
}

.input::placeholder {
  color: rgba(90, 77, 35, 0.4);
}

.textarea:hover,
.input:hover {
  outline: none;
  border-color: rgba(90, 77, 35, 0.7);
}

.textarea:focus,
.input:focus {
  outline: none;
  border-color: rgba(90, 77, 35, 0.4);
}

.textarea {
  resize: none;
  height: 150px;
  border: 2px solid #5a4d23;
  border-radius: 4px;
}

.input.error,
.textarea.error {
  border-color: #b21313;
}

.textarea:focus,
.input:focus {
  outline: none;
}

.checkbox {
  width: 15px;
  height: 15px;
}