.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  color: #e7aa10;
}

.header__logo svg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.header__login a {
  color: #e7aa10;
  text-decoration: none;
}

.header__login {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  align-items: center;
  align-content: center;
  justify-items: end;
}