.login {
  display: grid;
  gap: 40px;
  max-width: 300px;
  margin: 0 auto;
  padding: 40px;
  border: 3px solid #5a4d23;
  border-radius: 30px;
  font-size: 1.125rem;
  color: #5a4d23;
}

.login__label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__input {
  font-size: inherit;
  padding: 0 10px 10px 0;
  border: none;
  border-bottom: 3px solid #5a4d23;
  color: inherit;
}

.login__input.error {
  border-color: #b21313;
}

.login__input:focus {
  outline: none;
}

.login__input::placeholder {
  color: rgba(90, 77, 35, 0.4);
}

.login__checkbox label {
  position: relative;
  padding-left: 40px;
}

.login__checkbox label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 1px solid ;
  border-radius: 5px;
}

.login__checkbox label:after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 11px;
  height: 6px;
  top: calc(50% - 7px);
  left: 5px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(-45deg);
  transition: opacity .2s;
}

.login__checkbox input {
  display: none;
}

.login__checkbox input:checked + label:after {
  opacity: 1;
}

.login__submit {
  background-color: #e7aa10;
  color: #fff;
  font-size: inherit;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 10px;
}
