html {
  font-size: 16px;
}

img {
  object-fit: cover;
}

.app {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
  'h h'
  'n c';
  grid-gap: 10px;
}

.app__main {
  grid-area: c;
}
